@font-face {
    font-family: "Digital";
    src: url("digital-7.ttf");
} 
body {
    background-color: rgb(206, 134, 67);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
.card {
    display: flex;
    flex-direction: row;
    margin-bottom: 250px;
    border: none;
    padding: 5px 70px 50px 70px;
    background-color: rgb(13, 13, 83);
    text-align: center;
    column-gap: 80px;
    border-radius: 2%;
    flex-wrap: wrap;
    justify-content: center;
}
#title {
    margin-bottom: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#col1, #col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
}
#homeScore, #guestScore {
    margin-left: 0px;
    background-color: black;
    color: rgb(214, 62, 62);
    border: none;
    width: 160px;
    padding: 10px 0;
    font-size: 100px;
    margin-top: 10px;
    text-align: center;
    font-family: "Digital";
    margin-bottom: 15px;
    border-radius: 10%;
}
.btn {
    border: 1px solid white;
    background: none;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    padding: 8px 10px;
    border-radius: 10%;
    font-family: "Digital";
    transition: 0.3s ease;
    font-size: 20px;
}
.btn:hover, #reset:hover {
    transform: scale(1.05);
    background-color: rgb(8, 8, 54);
}
#reset {
    border: 1px solid white;
    background: none;
    color: white;
    font-size: 16px;
    transition: 0.3s ease;
    padding: 4px 7px;
    font-family: "Digital";
    font-size: 25px;
}
.wrapper {
    flex-basis: 100%;
    margin-top: 30px;
}