body {
    background: linear-gradient(pink, rgb(150, 37, 37));
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#yes {
    background-color: greenyellow;
}
#no {
    background-color: red;
}
#yes, #no {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
a {
    text-decoration: none;
}

